.input {
  --input-color: #E9EAEE;

  display: inline-block;
  width: 100%;
  height: 40px;

  border-radius: var(--border-radius);
  background: var(--input-color);
  color: var(--dark-300);


  box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: none;

  &::placeholder {
    color: var(--dark-200);
  }
}
